*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
    text-align: center;
    
}

.container{
    height: 70vh;
    display: flex;

    justify-content: center;
    align-items: center;
}

.game{
height: 60vmin;
width: 60vmin;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 8vmin;
    background-color: pink;
}
#reset{
    padding: 0.8rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
}
#rematch{
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: .4rem;
    border: none;
    background-color: aquamarine;
}
.msgcontainer{
    height: 50vh;
    
    

}
#msg{
    font-size: 10vmin;
}
.hide{
    display: none;
}